---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import Styles from '../styles/global.css';
import SocialPill from "../components/Socialpill.astro";
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GithubIcon from '../components/icons/Github.astro';
import GmailIcon from '../components/icons/Gmail.astro';
import SectionContainer from '../components/SectionContainer.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portafolio de Santiago - Desarrollador y Programador">
  <main class="px-4">
	<SectionContainer id="top" class="py-44 pb-32">
<div class="relative inline-block">  
  <img 
    class="rounded-full w-23 h-23 mb-4" 
    src="https://avatars.githubusercontent.com/u/116380301?v=4" 
    alt="santiago photo"
  />
 <span class="absolute bottom-4 right-2.5 w-5 h-5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
</div>

	  <h1 class="text-white text-3xl md:text-4xl lg:text-5xl 
	            font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Santiago Mafla <a
				href="https://www.linkedin.com/in/santiagomafla" 
				target="_blank" 
				rel="noopener"
				class="flex justify-center items-center"
				>
				  <Badge>Disponible para trabajar</Badge>
	  </a>
	  </h1>
	  <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
		<span>+2 años estudiando desarrollo de software.</span>
		<span class="text-fuchsia-300">Desarrollador Backend y analisis de datos.</span>
		<span class="text-pink-500">De Bogota Colombia</span>
		<span class="opacity-70">Especializado en crear aplicaciones unicas.</span>
	  </h2>

		<nav class="flex gap-4 mt-8 flex-wrap">
			<SocialPill href="https://www.linkedin.com/in/santiagomafla">
				<LinkedInIcon class="size-6 md:size-4" />
				LinkedIn
			</SocialPill>
			<SocialPill href="https://github.com/MAFLIXD">
				<GithubIcon class="size-6 md:size-4" />
				Github
			</SocialPill>
			<SocialPill href="mailto:santiago.mafla8@gmail.com">
				<GmailIcon class="size-6 md:size-4" />
				santiago.mafla8@gmail.com
			</SocialPill>
		</nav>

	</SectionContainer>
	
	<SectionContainer id="proyectos">
		<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
			<CodeIcon class="size-7" />
			Proyectos</h2>
			<Projects />
	</SectionContainer>
  </main>
</Layout>
