<header class="flex justify-between">
    <img src="https://avatars.githubusercontent.com/u/116380301?s=400&u=9512ecb6672c2d7b317b98c7b48defadc121d378&v=4" alt="santiago photo"/>

    <nav>
        <ul>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </ul>
    </nav>
</header>